::-webkit-scrollbar {
	display: none;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: rgba(178, 199, 217, 1);
	margin: 0;
	padding: 0;
}

.chatLog {
	max-width: 850px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	height: 95vh;
	padding-bottom: 30px;
	overflow: scroll;
}

.chatLog > p {
	display: inline-block;
	padding: 15px;
	margin: 10px;
	background-color: rgba(255,255,255,1);
	border-radius: 10px;
	float: left;
	clear: both;
}

.chatLog > p.myMessage {
	background-color: rgba(255,235,51,1);
	float: right;
	clear: both;
}

.chatBox {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgba(255,255,255,0.8);
	text-align: center;
}

.name {
	border: none;
	height: 30px;
	width: 10%;
	background: #ddd;
}

.message {
	border: none;
	height: 30px;
	width: 50%;
}

.chatBox button {
	width: 15%;
	border: none;
	padding: 5px;
	background: rgba(255,255,255,1);
}
