{% extends 'base.html' %}

{% block title %}휴일{% endblock %}

{% block content %}
<div class="alert alert-dark" role="alert">
    음력 휴일, 자체 휴일, 대체 공휴일만 추가하면 됩니다.
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">날자 <a href="?sort={% if sort == 'date' %}-date{% else %}date{% endif %}"><i class="fas fa-sort"></i></a></th>
            <th scope="col">이름 <a href="?sort={% if sort == 'name' %}-name{% else %}name{% endif %}"><i class="fas fa-sort"></i></a></th>
            <th scope="col">삭제</th>
        </tr>
    </thead>
    <tbody>
        {% for holiday in holidays %}
        <tr id="holiday{{ holiday.pk }}">
            <td>{{ holiday.date }}</td>
            <td>{{ holiday.name }}</td>
            <th><a href="javascript:void(0)" onclick="removeHoliday({{ holiday.pk }})"><i class="far fa-trash-alt"></i></th>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">휴일 등록</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST">
            <div class="modal-body">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">이름</span>
                    </div>
                    <input type="text" class="form-control" name="name" required>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">날짜</span>
                    </div>
                    <input type="date" class="form-control" name="date" required>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button type="submit">
            </div>
            </form>
        </div>
    </div>
</div>
<div class="corner-btn" data-toggle="modal" data-target="#exampleModal">
    <i class="fas fa-plus"></i>
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function() {
        var csrftoken = getCookie('csrftoken');
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    });
    function removeHoliday(pk) {
        if(confirm('정말 삭제합니까?')) {
            $.ajax({
                url: location.pathname + '/' + pk,
                method: 'DELETE',
            }).done(function (data) {
                $('#holiday' + pk).remove();
            });
        }
    }
</script>
{% endblock %}