{% extends 'base.html' %}

{% block title %}MAIN{% endblock %}

{% block content %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">이름 <a href="?sort={% if sort == 'name' %}-name{% else %}name{% endif %}"><i class="fas fa-sort"></i></a></th>
            <th scope="col">등록일 <a href="?sort={% if sort == 'created_date' %}-created_date{% else %}created_date{% endif %}"><i class="fas fa-sort"></i></a></th>
            <th scope="col">종목 <a href="?sort={% if sort == 'event' %}-event{% else %}event{% endif %}"><i class="fas fa-sort"></i></a></th>
            <th scope="col">회비 <a href="?sort={% if sort == 'dues' %}-dues{% else %}dues{% endif %}"><i class="fas fa-sort"></i></a></th>
            <th scope="col">속성</th>
        </tr>
    </thead>
    <tbody>
        {% for member in members %}
        <tr>
            <th scope="row">{{ member.pk }}</th>
            <td><a href="{% url 'members_detail' pk=member.pk %}">{{ member.name }}</a></td>
            <td>{{ member.created_date }}</td>
            <td>{{ member.event }}</td>
            <td>{{ member.dues }}</td>
            <td>
                <i class="far fa-edit"></i>
                <i class="far fa-trash-alt"></i>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">회원등록</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST">
            <div class="modal-body">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">이름</span>
                    </div>
                    <input type="text" class="form-control" name="name" required>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">날짜</span>
                    </div>
                    <input type="date" class="form-control" name="date" required>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">종목</span>
                    </div>
                    <input type="text" class="form-control" name="event" required>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">회비</span>
                    </div>
                    <input type="text" class="form-control" name="dues" required>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button type="submit">
            </div>
            </form>
        </div>
    </div>
</div>
<style>
    .corner-btn {
        cursor: pointer;
        position: fixed;
        right: 23px;
        bottom: 23px;
        background: rgba(0, 0, 0, 1);
        border-radius: 100%;
        width: 50px;
        height: 50px;
        text-align: center;
        color: #fff;
        z-index: 10;
    }

    .corner-btn i {
        padding-top: 12px;
        font-size: 24px;
    }
</style>
<div class="corner-btn" data-toggle="modal" data-target="#exampleModal">
    <i class="fas fa-user-plus"></i>
</div>
{% endblock %}