<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
    .fill-full {
        width: 100%;
        height: 100%;
    }

    .fill-single-img {
        background-size: cover;
        background-position: center center;
        background-repeat: none;
    }

    .fill-mask {
        background-color: rgba(0, 0, 0, .5);
    }

    .image-front-title {
        color: #fff;
        padding-top: 13vh;
    }

    .h30 {
        height: 30vh;
    }

    .article {
        font-size: 18px;
    }

    .sub-block {
        border: 1px soild #ccc;
    }

    .sub-block > h5 {
        color: #fff;
        background-color: #66d;
        border-radius: 10px;
        padding: 10px;
    }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="row h30">
            <div class="fill-full fill-single-img"
                style="background-image:url(https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500)">
                <div class="fill-full fill-mask image-front-title text-center">
                    <h3>페이지 타이틀</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mt-4">
                <div class="article">
                    <p>Two before narrow not relied how except moment myself. Dejection assurance mrs ledcertainly. So gate at no only none open. Betrayed at properly it  graceful on. Dinner abroad am departyeturned hearts as me wished. Therefore allowance too perfectly gentleman supposing man his now. Familiesgoodness all eat out bed steepest servants. Explained the incommode sir improving northward immediateeat.Man denoting received you sex possible you. Shew park own loud son door less yet.</p>
                    <p>Two before narrow not relied how except moment myself. Dejection assurance mrs ledcertainly. So gate at no only none open. Betrayed at properly it  graceful on. Dinner abroad am departyeturned hearts as me wished. Therefore allowance too perfectly gentleman supposing man his now. Familiesgoodness all eat out bed steepest servants. Explained the incommode sir improving northward immediateeat.Man denoting received you sex possible you. Shew park own loud son door less yet.</p>
                    <p>Two before narrow not relied how except moment myself. Dejection assurance mrs ledcertainly. So gate at no only none open. Betrayed at properly it  graceful on. Dinner abroad am departyeturned hearts as me wished. Therefore allowance too perfectly gentleman supposing man his now. Familiesgoodness all eat out bed steepest servants. Explained the incommode sir improving northward immediateeat.Man denoting received you sex possible you. Shew park own loud son door less yet.</p>
                    <p>Two before narrow not relied how except moment myself. Dejection assurance mrs ledcertainly. So gate at no only none open. Betrayed at properly it  graceful on. Dinner abroad am departyeturned hearts as me wished. Therefore allowance too perfectly gentleman supposing man his now. Familiesgoodness all eat out bed steepest servants. Explained the incommode sir improving northward immediateeat.Man denoting received you sex possible you. Shew park own loud son door less yet.</p>
                    <p>Two before narrow not relied how except moment myself. Dejection assurance mrs ledcertainly. So gate at no only none open. Betrayed at properly it  graceful on. Dinner abroad am departyeturned hearts as me wished. Therefore allowance too perfectly gentleman supposing man his now. Familiesgoodness all eat out bed steepest servants. Explained the incommode sir improving northward immediateeat.Man denoting received you sex possible you. Shew park own loud son door less yet.</p>
                    <p>Two before narrow not relied how except moment myself. Dejection assurance mrs ledcertainly. So gate at no only none open. Betrayed at properly it  graceful on. Dinner abroad am departyeturned hearts as me wished. Therefore allowance too perfectly gentleman supposing man his now. Familiesgoodness all eat out bed steepest servants. Explained the incommode sir improving northward immediateeat.Man denoting received you sex possible you. Shew park own loud son door less yet.</p>
                    <pre>
JAVAJAVAJAVAJAVAJAVAJAVA
JAVAJAVAJAVAJAVAJAVAJAVA
  JAVAJAVAJAVAJAVAJAVAJAVA
  JAVAJAVAJAVA
JAVAJAVAJAVAJAVA</div>
            </div>
            <div class="col-md-4 mt-4">
                <div class="sub-block">
                    <h5>소셜</h5>
                    <ul>
                      <li>깃허브</li>
                      <li>미디엄</li>
                  </ul>
                </div>
                <div class="sub-block">
                    <h5>카테고리</h5>
                    <ul>
                        <li>건의사항</li>
                        <li>공지사항</li>
                        <li>프로그래밍</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>